snippet A "Task with A priority"
	(A) ${CURRENT_YEAR}-${CURRENT_MONTH}-${CURRENT_DATE} $1

snippet B "Task with A priority"
	(B) ${CURRENT_YEAR}-${CURRENT_MONTH}-${CURRENT_DATE} $1

snippet C "Task with A priority"
	(C) ${CURRENT_YEAR}-${CURRENT_MONTH}-${CURRENT_DATE} $1

snippet D "Task with A priority"
	(D) ${CURRENT_YEAR}-${CURRENT_MONTH}-${CURRENT_DATE} $1
